*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

table {
    margin: auto;
    display: block;
}

h1 {
    margin: auto;
}

nav {
    background: rgba(0, 0, 0, 1);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 30px;
    z-index: 10;
}

nav a {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

nav a:hover li {
    background-color:#29ddd2;
}


nav ul {
    float: right;
    list-style: none;
}

nav li {
    line-height: 30px;
    display: inline-block;
    padding: 20px 5px;
}

nav img {
    display: inline;
    height: 70px;
    float: right;
}
body {
    background-image: url(img/header.png);
    background-color: #c7b39b;
    background-repeat: round;
}
header{

}
header .hc {
    padding-top: 100px;
}
header .hc .row{
    height: 40vh;
}
.black-case{
height: 100vh;
background-color: rgba(0,0,0,0);
}
