/* #login-box-output{
    position: relative;
    margin: 5% auto;
    width: 800px;
    height: 800px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
} */
table{
    margin: auto;
    display: block;
    
}
h1{
    text-align: center;
}