*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 300px;
    height: 480px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#login-box-success {
    position: relative;
    margin: 10% auto;
    padding-top: 10px;
    width: 270px;
    height: 140px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#login-box-failure {
    position: relative;
    margin: 10% auto;
    padding-top: 10px;
    width: 270px;
    height: 140px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#login-box-add{
    position: relative;
    margin: 5% auto;
    width: 300px;
    height: 310px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
}
#login-box-delete {
    position: relative;
    margin: 5% auto;
    width: 300px;
    height: 370px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
input:active .hidden {

}
.hidden,
.hidden1,
.hidden2,
.hidden3,
.hidden4,
.hidden5
{
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 350px;
}

h1 {
    margin: 0 0 0px 0;
    font-weight: 300;
    font-size: 28px;
}

.input-h{}

input[type="text"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}
.button-back:hover, .button-back:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.button-back:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}
.btn btn-dark
.button-back{
    margin-top: 28px;
    width: 100px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}
.button-add-contact{
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}
.submit-registration {
    position: absolute;
    top: 405px;
    left: 90px;
}
.submit-edit {
    position: absolute;
    top: 405px;
    left: 90px;
}
.submit-delete {
    position: absolute;
    top: 295px;
    left: 38px;
}
.submit-add-contact{
    position: absolute;
    bottom: : 0px;
    left:90px;
    top: 235px;
}
#button-main{
    position: absolute;
    top:-30px;
    left: 40px;
}
#button-auto{
    position: absolute;
    top:-30px;
    right: 40px;
}
/*type="submit" */
